<div>
  <mat-form-field>
    <mat-label>Select result files</mat-label>
    <mat-select multiple #dataList (selectionChange)="emitDataUpdate($event)">
      <mat-option *ngFor="let data_file of data_file_list"
          value="{{data_file}}">
        {{data_file}}
      </mat-option>
    </mat-select>
    <mat-hint>
      Result files to use in the next steps.
    </mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Performance data root URL
      (advanced<mat-icon>school</mat-icon>)
    </mat-label>
    <input matInput id="root_url" name="root_url" type="url" required
        #root_url=ngModel [(ngModel)]="data_file_url">
    <button matSuffix mat-icon-button (click)="updateUrl();">
      <mat-icon>get_app</mat-icon>
    </button>
    <mat-hint>
      URL to a folder containing a <code>list.json</code> file.
    </mat-hint>
    <mat-error *ngIf="root_url.invalid">
      URL is invalid.
    </mat-error>
  </mat-form-field>
</div>
