<div>
  <label>
    Plot data location:
    <input type="url" value="{{data_file_url}}">
  </label>
  <button (click)="updateUrl();">Update</button>
  <span class="error">{{error_message}}</span>
</div>
<div><label>
    Data files (use <code>CTRL + &lt;click&gt;</code> to select multiple
    files):
</label></div>
<div>
  <select multiple #dataList (change)="emitDataUpdate(dataList)">
    <option *ngFor="let data_file of data_file_list" value="{{data_file}}">
      {{data_file}}
    </option>
  </select>
</div>
