<div>
  <label>Plot script location:</label>
  <input type="url" [(ngModel)]="plot_file_url">
  <button (click)="updateUrl();">Update</button>
  <span class="error">{{error_message}}</span>
</div>
<div>
  <label>
    Plot file:
    <select #selectedScript (change)="emitPlotUpdate(selectedScript)">
      <option value="">Select one...</option>
      <option *ngFor="let plot_file of plot_file_list" value="{{plot_file}}">
        {{plot_file}}
      </option>
    </select>
  </label>
  <label>
    <a href="https://docs.jsonata.org">JSONata script</a>
    <button (click)="emitJsonataScriptUpdate(jsonataScript)">
      Update plot
    </button>
    <textarea #jsonataScript rows=20>
{
  "type": "line",
  "data": {
    "labels": [1, 2, 3, 4, 5],
    "datasets": [
      {
        "label": "Red line",
        "data": [1, 4, 9, 16, 25],
        "backgroundColor": "hsl(0,50%,60%)",
        "borderColor": "hsl(0,50%,60%)",
        "fill": false
      },
      {
        "label": "Green line",
        "data": [1, 2, 4, 8, 16],
        "backgroundColor": "hsl(120, 50%, 60%)",
        "borderColor": "hsl(120, 50%, 60%)",
        "fill": false
      }
    ]
  },
  "options": {
    "responsive": true,
    "title": {
      "display": true,
      "text": "My Plot"
    },
    "tooltips": {
      "mode": "index",
      "intersect": true
    },
    "hover": {
      "mode": "nearest",
      "intersect": true
    },
    "scales": {
      "xAxes": [
        {
          "display": true,
          "scaleLabel": {
            "display": true,
            "labelString": "X-label"
          }
        }
      ],
      "yAxes": [
        {
          "display": true,
          "scaleLabel": {
            "display": true,
            "labelString": "Y-label"
          },
          "ticks": {
            "min": 0
          }
        }
      ]
    }
  }
}
    </textarea>
  </label>
</div>
