<div class="root" fxLayout="column">
  <mat-form-field>
    <mat-label>Example plots location</mat-label>
    <input matInput id="root_url" name="root_url" type="url" required
        #root_url=ngModel [(ngModel)]="plot_file_url">
    <button matSuffix mat-icon-button (click)="updateUrl();">
      <mat-icon>get_app</mat-icon>
    </button>
    <mat-hint>
      URL to a folder containing a <code>list.json</code> file.
    </mat-hint>
    <mat-error *ngIf="root_url.invalid">
      URL is invalid.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Load example plot file</mat-label>
    <mat-select #selectedScript
        (selectionChange)="updateTransformationScript($event.value)">
      <mat-option *ngFor="let plot_file of plot_file_list"
          value="{{plot_file}}">
        {{plot_file}}
      </mat-option>
    </mat-select>
    <mat-hint>Reset the code editor to the selected example plot.</mat-hint>
  </mat-form-field>
  <div fxFlex class="code_viewer">
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="transformExpression">
    </ngx-monaco-editor>
  </div>
</div>
