<article>
  <section class="selectors">
    <div class="selector first_selector">
      <h2>Data selection</h2>
      <app-data-selector
        (onDataUpdate)="plot_data = $event;"
      ></app-data-selector>
    </div>

    <div class="selector">
      <h2>Plot selection</h2>
      <app-plot-selector
        (onPlotUpdate)="plot_script = $event;"
        (onJsonataScriptUpdate)="jsonataScript = $event"
      ></app-plot-selector>
    </div>
  </section>

  <section class="main_view">
    <h1>
      <img class="logo" alt="Ginkgo" src="assets/logo.png">
      <span>Data Explorer</span>
    </h1>
    <app-plot-view
      *ngIf="plot_data && plot_data.length && plot_script || jsonataScript"
      [data_files]="plot_data"
      [script_name]="plot_script"
      [jsonataScript]="jsonataScript"
    ></app-plot-view>
  </section>
</article>
