.root {
  height: 100%;
  width: 100%;
}

mat-card,
mat-expansion-panel {
  margin: 0.5em;
}

.mat-expansion-panel-header-title {
  /* justify-content: space-between; */
  align-items: center;
}

.mat-expansion-panel-header-description {
  align-items: center;
}

mat-expansion-panel-header mat-icon {
  width: inherit;
  height: inherit;
  font-size: 40px;
  margin-right: 8px;
}

mat-card-header mat-icon {
  width: inherit;
  height: inherit;
  font-size: 40px;
}

mat-card-title {
  font-size: 15px !important;
  font-weight: 400;
}

.logo {
  padding-right: 5px;
  display: block;
  float: left;
  height: 30px;
}

app-data-selector,
app-plot-selector,
app-plot-view {
  padding: 0.5em;
}

.force-no-flex {
  display: block !important;
}

.fill-space {
  flex: 1 1 auto;
}
