.root {
  height: 100%;
  width: 100%;
}

mat-card {
  margin: 0.5em;
}

mat-card-header mat-icon {
  width: inherit;
  height: inherit;
  font-size: 40px;
}

.logo {
  padding-right: 5px;
  display: block;
  float: left;
  height: 30px;
}

app-data-selector, app-plot-selector, app-plot-view {
  padding: 0.5em;
}

.force-no-flex {
  display: block !important;
}

