<h2>Showing {{script.name}} for <code>{{ data | property: 'name' }}</code></h2>
<div>
  <span>
    <strong>TODO:</strong> use <code>Chart.js</code> to display data.
  </span>
  <div>
    <h3>Data:</h3>
    <div class="code_viewer"><code>{{data | json}}</code></div>
  </div>
  <div>
    <h3>Plot script {{script.name}} (<code>{{script.file}}</code>):</h3>
    <div class="code_viewer"><code>{{script.code}}</code></div>
  </div>
  <div>
    <h3>Plot data</h3>
    <div class="code_viewer"><code>{{plotData | json}}</code></div>
</div>
