<mat-tab-group>
  <mat-tab label="Results">
    <div class="code_viewer">
      <ngx-monaco-editor
        [options]="editorOptions"
        [ngModel]="rawDataString">
      </ngx-monaco-editor>
    </div>
  </mat-tab>
  <mat-tab label="Transformed">
    <div class="code_viewer">
      <ngx-monaco-editor
        [options]="editorOptions"
        [ngModel]="transformedDataString">
      </ngx-monaco-editor>
    </div>
  </mat-tab>
  <mat-tab label="Plot">
    <div class="toolbar">
      <button mat-stroked-button color="accent" (click)="savePlotAsHTML();">
        HTML
      </button>
      <button mat-stroked-button color="accent" (click)="savePlotAsPNG();">
        PNG
      </button>
      <button mat-stroked-button color="accent" (click)="savePlotAsSVG();">
        SVG (experimental!)
      </button>
    </div>
    <canvas #chartCanvas></canvas>
    <mat-card *ngIf="plotError">
      <code><pre>Error generating plot: {{plotError}}</pre></code>
    </mat-card>
  </mat-tab>
</mat-tab-group>
